Repository boostorg/gil, pull requests merged in 2018-12, with the labels that each got.

#171 Trim trailing whitespaces in all source code files
  include/boost/gil/bit_aligned_pixel_iterator.hpp
  include/boost/gil/cmyk.hpp
  include/boost/gil/color_base.hpp
  include/boost/gil/color_convert.hpp
  include/boost/gil/extension/dynamic_image/algorithm.hpp
  include/boost/gil/extension/dynamic_image/apply_operation.hpp
  include/boost/gil/extension/dynamic_image/apply_operation_base.hpp
  include/boost/gil/extension/toolbox/color_spaces/hsl.hpp
  include/boost/gil/extension/toolbox/color_spaces/hsv.hpp
  include/boost/gil/extension/toolbox/color_spaces/lab.hpp
  include/boost/gil/extension/toolbox/color_spaces/xyz.hpp
  include/boost/gil/extension/toolbox/color_spaces/ycbcr.hpp
  include/boost/gil/extension/toolbox/metafunctions/channel_view.hpp
  include/boost/gil/image.hpp
  include/boost/gil/packed_pixel.hpp
  include/boost/gil/pixel.hpp
  include/boost/gil/pixel_iterator.hpp
  include/boost/gil/pixel_iterator_adaptor.hpp
  include/boost/gil/planar_pixel_reference.hpp
  include/boost/gil/position_iterator.hpp
  include/boost/gil/rgb.hpp
  include/boost/gil/rgba.hpp
  include/boost/gil/step_iterator.hpp
  include/boost/gil/virtual_locator.hpp
Labels: cat/annoyance, cat/refactoring

#172 Update design_guide.rst
  doc/design_guide.rst
Labels: cat/documentation

#173 Reformat boost/gil/concepts/*.hpp to limit line length to 90 characters
  include/boost/gil/concepts/channel.hpp
  include/boost/gil/concepts/color.hpp
  include/boost/gil/concepts/color_base.hpp
  include/boost/gil/concepts/detail/type_traits.hpp
  include/boost/gil/concepts/image.hpp
  include/boost/gil/concepts/image_view.hpp
  include/boost/gil/concepts/pixel.hpp
  include/boost/gil/concepts/pixel_based.hpp
  include/boost/gil/concepts/pixel_dereference.hpp
  include/boost/gil/concepts/pixel_iterator.hpp
  include/boost/gil/concepts/pixel_locator.hpp
  include/boost/gil/concepts/point.hpp
Labels: cat/refactoring

#175 Add missing #include-s to ensure self-contained headers
  include/boost/gil/extension/numeric/algorithm.hpp
  include/boost/gil/extension/numeric/channel_numeric_operations.hpp
  include/boost/gil/extension/toolbox/color_spaces/hsl.hpp
  include/boost/gil/extension/toolbox/color_spaces/hsv.hpp
  include/boost/gil/extension/toolbox/color_spaces/lab.hpp
  include/boost/gil/extension/toolbox/color_spaces/xyz.hpp
  include/boost/gil/extension/toolbox/color_spaces/ycbcr.hpp
  include/boost/gil/extension/toolbox/image_types/indexed_image.hpp
Labels: cat/bug, ext/numeric, ext/toolbox

#176 Fix compilation of subchroma_image.hpp as self-contained headers
  include/boost/gil/extension/toolbox/image_types/subchroma_image.hpp
Labels: cat/bug, ext/toolbox

#164 Fix compile-time bugs subchroma_image.hpp definions
  include/boost/gil/extension/toolbox/color_spaces/ycbcr.hpp
  include/boost/gil/extension/toolbox/image_types/subchroma_image.hpp
  toolbox/test/CMakeLists.txt
  toolbox/test/Jamfile
  toolbox/test/fabscript
  toolbox/test/subchroma_image.cpp
Labels: cat/bug, ext/toolbox

#177 Replace writer<Device,jpeg_tag> where writer_backend<Device,jpeg_tag> expected
  include/boost/gil/extension/io/jpeg/detail/writer_backend.hpp
Labels: cat/bug, ext/io, version/gil-2.2

#178 Remove unnecessary extern C around libraw.h include
  doc/io.rst
  include/boost/gil/extension/io/raw/tags.hpp
  io/doc/io.qbk
Labels: cat/annoyance, ext/io, version/gil-2.2

#179 Include missing headers across boost/gil/extension/io
  include/boost/gil/extension/io/bmp/detail/supported_types.hpp
  include/boost/gil/extension/io/jpeg/detail/reader_backend.hpp
  include/boost/gil/extension/io/jpeg/detail/supported_types.hpp
  include/boost/gil/extension/io/png/detail/supported_types.hpp
  include/boost/gil/extension/io/pnm/detail/supported_types.hpp
  include/boost/gil/extension/io/pnm/detail/write.hpp
  include/boost/gil/extension/io/raw/detail/device.hpp
  include/boost/gil/extension/io/raw/detail/supported_types.hpp
  include/boost/gil/extension/io/targa/detail/supported_types.hpp
  include/boost/gil/extension/io/tiff/detail/device.hpp
  include/boost/gil/extension/io/tiff/detail/supported_types.hpp
  include/boost/gil/extension/io/tiff/detail/writer_backend.hpp
Labels: cat/annoyance, ext/io, version/gil-2.2

#180 Apply clang-tidy modernize-use-nullptr
  .clang-tidy
  CONTRIBUTING.md
  include/boost/gil/algorithm.hpp
  include/boost/gil/bit_aligned_pixel_reference.hpp
  include/boost/gil/extension/io/jpeg/detail/reader_backend.hpp
  include/boost/gil/extension/io/jpeg/detail/writer_backend.hpp
  include/boost/gil/extension/io/png/detail/base.hpp
  include/boost/gil/extension/io/png/detail/read.hpp
  include/boost/gil/extension/io/png/detail/reader_backend.hpp
  include/boost/gil/extension/io/png/detail/write.hpp
  include/boost/gil/extension/io/png/detail/writer_backend.hpp
  include/boost/gil/extension/io/raw/detail/device.hpp
  include/boost/gil/extension/io/tiff/detail/device.hpp
  include/boost/gil/extension/io/tiff/detail/log.hpp
  include/boost/gil/extension/io/tiff/detail/read.hpp
  include/boost/gil/extension/io/tiff/detail/reader_backend.hpp
  include/boost/gil/image.hpp
  include/boost/gil/io/conversion_policies.hpp
  include/boost/gil/io/device.hpp
  include/boost/gil/io/make_backend.hpp
  include/boost/gil/io/make_dynamic_image_reader.hpp
  include/boost/gil/io/make_dynamic_image_writer.hpp
  include/boost/gil/io/make_reader.hpp
  include/boost/gil/io/make_scanline_reader.hpp
  include/boost/gil/io/make_writer.hpp
  include/boost/gil/io/read_and_convert_image.hpp
  include/boost/gil/io/read_and_convert_view.hpp
  include/boost/gil/io/read_image.hpp
  include/boost/gil/io/read_image_info.hpp
  include/boost/gil/io/read_view.hpp
  include/boost/gil/io/write_view.hpp
  include/boost/gil/packed_pixel.hpp
  include/boost/gil/pixel.hpp
Labels: cat/refactoring

#182 Apply clang-tidy modernize-use-override
  .clang-tidy
  test/image.cpp
Labels: cat/refactoring

#184 [cmake] Add test with all headers included in one TU
  test/headers/CMakeLists.txt
Labels: cat/enhancement, config/cmake

#185 Fix conflicting definitions from io/dynamic_io_new.hpp and toolbox/dynamic_images.hpp
  include/boost/gil/extension/io/bmp/detail/read.hpp
  include/boost/gil/extension/io/bmp/detail/write.hpp
  include/boost/gil/extension/io/jpeg/detail/read.hpp
  include/boost/gil/extension/io/jpeg/detail/write.hpp
  include/boost/gil/extension/io/png/detail/read.hpp
  include/boost/gil/extension/io/png/detail/write.hpp
  include/boost/gil/extension/io/pnm/detail/read.hpp
  include/boost/gil/extension/io/pnm/detail/write.hpp
  include/boost/gil/extension/io/raw/detail/read.hpp
  include/boost/gil/extension/io/targa/detail/read.hpp
  include/boost/gil/extension/io/targa/detail/write.hpp
  include/boost/gil/extension/io/tiff/detail/read.hpp
  include/boost/gil/extension/io/tiff/detail/write.hpp
  include/boost/gil/extension/toolbox/dynamic_images.hpp
  include/boost/gil/io/dynamic_io_new.hpp
Labels: cat/bug, ext/io, ext/toolbox

#190 Fix const on return type not applied to pointee type of typedef
  include/boost/gil/extension/io/png/detail/base.hpp
Labels: cat/annoyance, ext/io

#191 Remove deprecated unary/binary_function.
  include/boost/gil/extension/numeric/channel_numeric_operations.hpp
  include/boost/gil/extension/numeric/pixel_numeric_operations.hpp
Labels: cat/enhancement, ext/numeric

#192 Apply clang-tidy modernize-use-using to core headers
  .clang-tidy
  include/boost/gil/algorithm.hpp
  include/boost/gil/bit_aligned_pixel_iterator.hpp
  include/boost/gil/bit_aligned_pixel_reference.hpp
  include/boost/gil/channel.hpp
  include/boost/gil/channel_algorithm.hpp
  include/boost/gil/cmyk.hpp
  include/boost/gil/color_base.hpp
  include/boost/gil/color_base_algorithm.hpp
  include/boost/gil/color_convert.hpp
  include/boost/gil/concepts/basic.hpp
  include/boost/gil/concepts/channel.hpp
  include/boost/gil/device_n.hpp
  include/boost/gil/gray.hpp
  include/boost/gil/image.hpp
  include/boost/gil/image_view.hpp
  include/boost/gil/image_view_factory.hpp
  include/boost/gil/iterator_from_2d.hpp
  include/boost/gil/locator.hpp
  include/boost/gil/metafunctions.hpp
  include/boost/gil/packed_pixel.hpp
  include/boost/gil/pixel.hpp
  include/boost/gil/pixel_iterator.hpp
  include/boost/gil/pixel_iterator_adaptor.hpp
  include/boost/gil/planar_pixel_iterator.hpp
  include/boost/gil/planar_pixel_reference.hpp
  include/boost/gil/position_iterator.hpp
  include/boost/gil/premultiply.hpp
  include/boost/gil/promote_integral.hpp
  include/boost/gil/rgb.hpp
  include/boost/gil/rgba.hpp
  include/boost/gil/step_iterator.hpp
  include/boost/gil/typedefs.hpp
  include/boost/gil/utilities.hpp
  include/boost/gil/virtual_locator.hpp
Labels: cat/refactoring

#196 Apply clang-tidy modernize-use-using to extension/numeric
  include/boost/gil/extension/numeric/algorithm.hpp
  include/boost/gil/extension/numeric/convolve.hpp
  include/boost/gil/extension/numeric/kernel.hpp
  include/boost/gil/extension/numeric/sampler.hpp
Labels: cat/refactoring, ext/numeric

#195 Apply clang-tidy modernize-use-using to io
  include/boost/gil/io/base.hpp
  include/boost/gil/io/conversion_policies.hpp
  include/boost/gil/io/device.hpp
  include/boost/gil/io/dynamic_io_new.hpp
  include/boost/gil/io/get_read_device.hpp
  include/boost/gil/io/get_reader.hpp
  include/boost/gil/io/get_write_device.hpp
  include/boost/gil/io/get_writer.hpp
  include/boost/gil/io/make_backend.hpp
  include/boost/gil/io/make_reader.hpp
  include/boost/gil/io/read_and_convert_image.hpp
  include/boost/gil/io/read_and_convert_view.hpp
  include/boost/gil/io/read_image.hpp
  include/boost/gil/io/read_view.hpp
  include/boost/gil/io/reader_base.hpp
  include/boost/gil/io/row_buffer_helper.hpp
  include/boost/gil/io/scanline_read_iterator.hpp
  include/boost/gil/io/typedefs.hpp
  include/boost/gil/io/write_view.hpp
Labels: cat/refactoring, core/io

#199 Apply clang-tidy modernize-use-using to all tests
  io/test/bmp_old_test.cpp
  io/test/bmp_read_test.cpp
  io/test/bmp_test.cpp
  io/test/bmp_write_test.cpp
  io/test/jpeg_old_test.cpp
  io/test/jpeg_read_test.cpp
  io/test/jpeg_test.cpp
  io/test/jpeg_write_test.cpp
  io/test/make.cpp
  io/test/mandel_view.hpp
  io/test/png_file_format_test.cpp
  io/test/png_old_test.cpp
  io/test/png_read_test.cpp
  io/test/png_test.cpp
  io/test/png_write_test.cpp
  io/test/pnm_old_test.cpp
  io/test/pnm_read_test.cpp
  io/test/pnm_test.cpp
  io/test/pnm_write_test.cpp
  io/test/raw_test.cpp
  io/test/scanline_read_test.hpp
  io/test/targa_old_test.cpp
  io/test/targa_read_test.cpp
  io/test/targa_test.cpp
  io/test/targa_write_test.cpp
  io/test/tiff_file_format_test.cpp
  io/test/tiff_old_test.cpp
  io/test/tiff_subimage_test.cpp
  io/test/tiff_test.cpp
  io/test/tiff_tiled_float_test.cpp
  io/test/tiff_tiled_minisblack_test_21-31_32-64.cpp
  io/test/tiff_tiled_minisblack_write_test_21-31_32-64.cpp
  io/test/tiff_tiled_read_macros.hpp
  io/test/tiff_tiled_rgb_contig_test_21-31_32_64.cpp
  io/test/tiff_tiled_rgb_contig_write_test_21-31_32_64.cpp
  io/test/tiff_tiled_rgb_planar_test_21-31_32_64.cpp
  io/test/tiff_tiled_test.cpp
  io/test/tiff_tiled_write_macros.hpp
  io/test/tiff_write_test.cpp
  numeric/test/numeric.cpp
  test/channel.cpp
  test/image.cpp
  test/performance.cpp
  test/pixel.cpp
  test/pixel_iterator.cpp
  test/promote_integral.cpp
  test/recreate_image.cpp
  toolbox/test/channel_type.cpp
  toolbox/test/channel_view.cpp
  toolbox/test/get_num_bits.cpp
  toolbox/test/get_pixel_type.cpp
  toolbox/test/indexed_image_test.cpp
  toolbox/test/is_bit_aligned.cpp
  toolbox/test/is_homogeneous.cpp
  toolbox/test/pixel_bit_size.cpp
  toolbox/test/rgb_to_luminance.cpp
  toolbox/test/subchroma_image.cpp
Labels: cat/refactoring

#201 Fix examples to make them compile again
  example/interleaved_ptr.cpp
  example/mandelbrot.cpp
  example/packed_pixel.cpp
  example/x_gradient.cpp
Labels: cat/annoyance, version/gil-2.2

#200 Fix hard-wired use of Boost.Array static_size member
  example/convolution.cpp
  include/boost/gil/extension/numeric/convolve.hpp
Labels: cat/bug, ext/numeric

#203 Remove Boost.Bind from io
  include/boost/gil/extension/io/bmp/detail/read.hpp
  include/boost/gil/extension/io/bmp/detail/scanline_read.hpp
  include/boost/gil/extension/io/pnm/detail/read.hpp
  include/boost/gil/extension/io/pnm/detail/scanline_read.hpp
  include/boost/gil/extension/io/pnm/detail/write.hpp
  include/boost/gil/extension/io/tiff/detail/scanline_read.hpp
  include/boost/gil/io/bit_operations.hpp
Labels: cat/enhancement, core/io

#202 Remove Boost.Bind from extension/dynamic_image
  include/boost/gil/extension/dynamic_image/algorithm.hpp
  include/boost/gil/extension/dynamic_image/apply_operation.hpp
Labels: cat/enhancement, ext/dynamic_image
