Repository boostorg/gil, pull requests merged in 2019-06, with the labels that each got.

#304 Disable BOOST_GIL_USE_CONCEPT_CHECK when compiling tests with clang
  test/core/color/concepts.cpp
  test/core/color_base/concepts.cpp
  test/core/image/concepts.cpp
  test/core/image_view/concepts.cpp
  test/core/iterator/concepts.cpp
  test/core/locator/concepts.cpp
  test/core/pixel/concepts.cpp
  test/core/point/concepts.cpp
Labels: cat/annoyance, test

#307 [CMake] Remove GIL_DOWNLOAD_FINDBOOST option
  .azure-pipelines.yml
  .ci/azure-pipelines/steps-cmake-build-and-test.yml
  CMakeLists.txt
  CONTRIBUTING.md
  example/cmake/CMakeSettings.json
Labels: config/cmake

#308 Restore running of legacy tests on Travis CI and AppVeyor
  .appveyor.yml
  .ci/build-and-test.sh
  .travis.yml
Labels: test

#313 Implementation of threshold_binary and threshold_truncate
  example/threshold.cpp
  include/boost/gil.hpp
  include/boost/gil/image_processing/threshold.hpp
  test/CMakeLists.txt
  test/core/CMakeLists.txt
  test/core/Jamfile
  test/core/image_processing/CMakeLists.txt
  test/core/image_processing/Jamfile
  test/core/image_processing/binary.cpp
  test/core/image_processing/truncate.cpp
Labels: cat/feature

#309 Implementation of lanczos down scaling
  include/boost/gil/detail/math.hpp
  include/boost/gil/image_processing/numeric.hpp
  include/boost/gil/image_processing/scaling.hpp
  test/core/image_processing/CMakeLists.txt
  test/core/image_processing/Jamfile
  test/core/image_processing/lanczos_scaling.cpp
Labels: cat/feature

#317 Add tests for kernel_1d and kernel_1d_fixed classes
  test/extension/numeric/CMakeLists.txt
  test/extension/numeric/kernel.cpp
Labels: cat/enhancement, ext/numeric, test

#318 Add kernel test to numeric/Jamfile
  test/extension/numeric/Jamfile
Labels: ext/numeric, test
