Repository boostorg/gil, pull requests merged in 2019-03, with the labels that each got.

#248 Add pixel test fixture with all core pixel types
  test/algorithm/CMakeLists.txt
  test/channel/CMakeLists.txt
  test/color/CMakeLists.txt
  test/image/CMakeLists.txt
  test/image_view/CMakeLists.txt
  test/iterator/CMakeLists.txt
  test/locator/CMakeLists.txt
  test/pixel/CMakeLists.txt
  test/pixel/Jamfile
  test/pixel/concepts.cpp
  test/pixel/is_pixel.cpp
  test/pixel/pixel_reference_is_mutable.cpp
  test/pixel/test_fixture.cpp
  test/pixel/test_fixture.hpp
  test/point/CMakeLists.txt
Labels: core, test

#250 Fix gray_t and gray_color_t mismatch in default_color_converter_impl
  include/boost/gil/color_base_algorithm.hpp
  include/boost/gil/color_convert.hpp
  include/boost/gil/utilities.hpp
Labels: cat/bug

#251 Use class for template template parameter
  test/pixel/concepts.cpp
Labels: test

#254 Update INPUT list in doc/doxyfile
  doc/doxyfile
Labels: cat/bug, cat/documentation

#257 Add test for some bit-aligned pixel types and metafunctions
  test/pixel/CMakeLists.txt
  test/pixel/Jamfile
  test/pixel/bit_aligned_pixel_reference.cpp
  test/pixel/is_pixel.cpp
  test/pixel/packed_pixel.cpp
Labels: core, test

#260 Add tests requirements
  Jamfile
Labels: config/boost-build

#262 Use just ::value where is possible
  doc/design_guide.rst
  doc/doxygen/design_guide.dox
  include/boost/gil/algorithm.hpp
  include/boost/gil/concepts/pixel.hpp
  include/boost/gil/concepts/pixel_based.hpp
  include/boost/gil/concepts/pixel_iterator.hpp
  include/boost/gil/extension/io/png/detail/write.hpp
  include/boost/gil/extension/io/tiff/detail/is_allowed.hpp
  include/boost/gil/extension/io/tiff/detail/writer_backend.hpp
  include/boost/gil/extension/toolbox/image_types/subchroma_image.hpp
  include/boost/gil/extension/toolbox/metafunctions/channel_view.hpp
  include/boost/gil/extension/toolbox/metafunctions/get_num_bits.hpp
  include/boost/gil/extension/toolbox/metafunctions/is_homogeneous.hpp
  include/boost/gil/io/conversion_policies.hpp
  include/boost/gil/io/device.hpp
  include/boost/gil/io/get_read_device.hpp
  include/boost/gil/io/get_reader.hpp
  include/boost/gil/io/get_write_device.hpp
  include/boost/gil/io/get_writer.hpp
  include/boost/gil/io/make_backend.hpp
  include/boost/gil/io/make_dynamic_image_reader.hpp
  include/boost/gil/io/make_dynamic_image_writer.hpp
  include/boost/gil/io/make_reader.hpp
  include/boost/gil/io/make_scanline_reader.hpp
  include/boost/gil/io/make_writer.hpp
  include/boost/gil/io/read_and_convert_image.hpp
  include/boost/gil/io/read_and_convert_view.hpp
  include/boost/gil/io/read_image.hpp
  include/boost/gil/io/read_image_info.hpp
  include/boost/gil/io/read_view.hpp
  include/boost/gil/io/row_buffer_helper.hpp
  include/boost/gil/io/write_view.hpp
  include/boost/gil/metafunctions.hpp
  include/boost/gil/promote_integral.hpp
  include/boost/gil/utilities.hpp
  test/legacy/pixel.cpp
  test/promote_integral.cpp
Labels: cat/annoyance, cat/refactoring

#264 Comment unused parameter of channel_premultiply call operator [ci skip]
  include/boost/gil/premultiply.hpp
Labels: cat/annoyance, cat/documentation

#265 Disable pedantic compilation for CI builds
  Jamfile
Labels: cat/annoyance, config/boost-build

#266 Use Boost.Build 'cxxstd' feature instead of '-std' compiler flag
  .appveyor.yml
  .ci/build-and-test.sh
  .circleci/config.yml
  .travis.yml
  Jamfile
Labels: config/boost-build

#268 Add test for packed_channel_value and is_integral specialization
  test/channel/CMakeLists.txt
  test/channel/Jamfile
  test/channel/is_integral.cpp
  test/channel/packed_channel_value.cpp
Labels: cat/enhancement, core, test

#269 Update test of packed_pixel with run-time checks
  test/pixel/packed_pixel.cpp
Labels: cat/enhancement, core/io, test
