Repository boostorg/gil, pull requests merged in 2019-02, with the labels that each got.

#231 Use Boost.Variant instead of GIL's own variant implementation.
  .appveyor.yml
  .travis.yml
  include/boost/gil/extension/dynamic_image/any_image.hpp
  include/boost/gil/extension/dynamic_image/any_image_view.hpp
  include/boost/gil/extension/dynamic_image/apply_operation.hpp
  include/boost/gil/extension/dynamic_image/apply_operation_base.hpp
  include/boost/gil/extension/dynamic_image/dynamic_image_all.hpp
  include/boost/gil/extension/dynamic_image/variant.hpp
  include/boost/gil/io/dynamic_io_new.hpp
Labels: cat/enhancement

#230 Build core tests with BOOST_GIL_USE_CONCEPT_CHECK defined
  include/boost/gil/color_base_algorithm.hpp
  include/boost/gil/concepts/basic.hpp
  include/boost/gil/concepts/channel.hpp
  include/boost/gil/concepts/color.hpp
  include/boost/gil/concepts/color_base.hpp
  include/boost/gil/concepts/concept_check.hpp
  include/boost/gil/concepts/image.hpp
  include/boost/gil/concepts/image_view.hpp
  include/boost/gil/concepts/pixel.hpp
  include/boost/gil/concepts/pixel_based.hpp
  include/boost/gil/concepts/pixel_dereference.hpp
  include/boost/gil/concepts/pixel_iterator.hpp
  include/boost/gil/concepts/pixel_locator.hpp
  include/boost/gil/concepts/point.hpp
  include/boost/gil/io/path_spec.hpp
  io/test/paths.hpp
  test/CMakeLists.txt
  test/Jamfile
  test/algorithm/std_fill.cpp
  test/gil_test_common.hpp
Labels: config/boost-build, config/cmake, test

#238 Add dynamic_step.hpp for base templates declaration
  include/boost/gil/concepts/dynamic_step.hpp
  include/boost/gil/concepts/pixel_iterator.hpp
  include/boost/gil/dynamic_step.hpp
  include/boost/gil/extension/dynamic_image/any_image_view.hpp
  include/boost/gil/extension/dynamic_image/image_view_factory.hpp
  include/boost/gil/extension/toolbox/image_types/subchroma_image.hpp
  include/boost/gil/image_view.hpp
  include/boost/gil/image_view_factory.hpp
  include/boost/gil/locator.hpp
  include/boost/gil/metafunctions.hpp
  include/boost/gil/pixel_iterator.hpp
  include/boost/gil/step_iterator.hpp
  include/boost/gil/virtual_locator.hpp
Labels: cat/enhancement, core/io, ext/dynamic_image, ext/toolbox

#239 Move GIL's original test suites to test/legacy/
  CONTRIBUTING.md
  test/CMakeLists.txt
  test/Jamfile
  test/algorithm/Jamfile
  test/channel/Jamfile
  test/channel/algorithm_channel_arithmetic.cpp
  test/channel/algorithm_channel_convert.cpp
  test/channel/algorithm_channel_invert.cpp
  test/channel/algorithm_channel_multiply.cpp
  test/channel/algorithm_channel_relation.cpp
  test/channel/channel_concepts.cpp
  test/channel/channel_test_fixture.cpp
  test/channel/channel_traits.cpp
  test/channel/scoped_channel_value.cpp
  test/image/Jamfile
  test/image_view/Jamfile
  test/legacy/CMakeLists.txt
  test/legacy/Jamfile
  test/legacy/README.md
  test/legacy/channel.cpp
  test/legacy/error_if.cpp
  test/legacy/gil_reference_checksums.txt
  test/legacy/image.cpp
  test/legacy/performance.cpp
  test/legacy/pixel.cpp
  test/legacy/pixel_iterator.cpp
  test/legacy/recreate_image.cpp
  test/legacy/sample_image.cpp
  test/pixel/Jamfile
  test/point/Jamfile
  test/promote_integral.cpp
  test/unit_test.hpp
Labels: test

#240 Disable detailed warnings on CI builds
  Jamfile
Labels: config/boost-build

#241 Add test for locator concepts
  test/CMakeLists.txt
  test/Jamfile
  test/locator/CMakeLists.txt
  test/locator/Jamfile
  test/locator/concepts.cpp
Labels: test

#242 Add test for iterator concepts
  test/CMakeLists.txt
  test/Jamfile
  test/iterator/CMakeLists.txt
  test/iterator/Jamfile
  test/iterator/concepts.cpp
Labels: test

#243 Add tests for dynamic_{x,y}_step_type specializations
  test/image_view/CMakeLists.txt
  test/image_view/Jamfile
  test/image_view/dynamic_step.cpp
  test/iterator/CMakeLists.txt
  test/iterator/Jamfile
  test/iterator/dynamic_step.cpp
  test/locator/CMakeLists.txt
  test/locator/Jamfile
  test/locator/dynamic_step.cpp
Labels: core, test

#244 [cmake] Disable Boost autolinking for MSVC [skip travis]
  CMakeLists.txt
Labels: config/cmake

#245 Add test for pixels_are_compatible metafunction
  .appveyor.yml
  .travis.yml
  test/pixel/CMakeLists.txt
  test/pixel/Jamfile
  test/pixel/pixels_are_compatible.cpp
Labels: core, test
