Repository boostorg/gil, pull requests merged in 2019-09, with the labels that each got.

#386 Image boundary extension algorithm added
  include/boost/gil/extension/numeric/algorithm.hpp
  test/extension/numeric/CMakeLists.txt
  test/extension/numeric/extend_boundary.cpp
Labels: cat/feature, ext/numeric

#389 Split design guide into multiple pages
  doc/_static/style.css
  doc/design/basics.rst
  doc/design/channel.rst
  doc/design/color_base.rst
  doc/design/color_space.rst
  doc/design/concepts.rst
  doc/design/conclusions.rst
  doc/design/dynamic_image.rst
  doc/design/examples.rst
  doc/design/extending.rst
  doc/design/image.rst
  doc/design/image_view.rst
  doc/design/index.rst
  doc/design/metafunctions.rst
  doc/design/pixel.rst
  doc/design/pixel_iterator.rst
  doc/design/pixel_locator.rst
  doc/design/point.rst
  doc/design/technicalities.rst
  doc/design_guide.rst
  doc/images/pixel_locator.gif
  doc/index.rst
Labels: cat/documentation, cat/refactoring

#390 `convolve_boundary_option` renamed to `boundary_option`
  example/convolve2d.cpp
  include/boost/gil/extension/numeric/algorithm.hpp
  include/boost/gil/extension/numeric/convolve.hpp
  include/boost/gil/image_processing/filter.hpp
Labels: cat/enhancement, ext/numeric
