Repository boostorg/gil, pull requests merged in 2020-03, with the labels that each got.

#437 Completed the Jamfile configuration to make sure all example codes compile
  example/Jamfile
Labels: config/boost-build

#440 Fixed typo(T y->U y) in concepts.rst
  doc/design/concepts.rst
Labels: cat/documentation

#444 Fixed some typos
  include/boost/gil/concepts/channel.hpp
  include/boost/gil/concepts/image_view.hpp
  include/boost/gil/image_processing/threshold.hpp
Labels: cat/documentation

#441 Replace Boost.MPL with Boost.MP11 in promote_integral.hpp
  include/boost/gil/promote_integral.hpp
Labels: cat/enhancement

#450 Fix incorrect assert caught in image_view::col_end
  include/boost/gil/image_view.hpp
  test/core/image_view/CMakeLists.txt
  test/core/image_view/Jamfile
  test/core/image_view/iteration.cpp
Labels: cat/bug, core

#451 Remove llvm-toolchain-trusty-6.0 from APT sources as unused
  .travis.yml
Labels: cat/annoyance

#452 Add tests for image_view locator and iterators
  include/boost/gil/image_view.hpp
  test/core/image_view/CMakeLists.txt
  test/core/image_view/Jamfile
  test/core/image_view/axis_iterator.cpp
  test/core/image_view/collection.cpp
  test/core/image_view/iteration.cpp
  test/core/image_view/iterator.cpp
  test/core/image_view/reverse_iterator.cpp
  test/core/image_view/test_fixture.hpp
  test/core/image_view/x_iterator.cpp
  test/core/image_view/xy_locator.cpp
  test/core/image_view/y_iterator.cpp
Labels: core, test

#454 CI: Avoid huge logs due to compilation warnings
  CMakeLists.txt
  test/Jamfile
Labels: cat/annoyance, config/boost-build, config/cmake

#448 Fix legacy test with workaround for MSVC++ 64-bit optimized build
  .appveyor.yml
  test/legacy/image.cpp
Labels: test

#455 Fix issues with test/extension/io/tiff_test.cpp build and run
  .appveyor.yml
  CMakeLists.txt
  test/extension/io/tiff_test.cpp
Labels: config/cmake, ext/io, test

#456 Add any_image_view::size()
  doc/design/dynamic_image.rst
  include/boost/gil/extension/dynamic_image/any_image_view.hpp
  test/extension/dynamic_image/subimage_view.cpp
Labels: cat/enhancement, ext/dynamic_image

#466 Removed extension/dynamic_image/reduce.hpp as unused
  include/boost/gil/extension/dynamic_image/apply_operation.hpp
  include/boost/gil/extension/dynamic_image/reduce.hpp
Labels: cat/deprecation, ext/dynamic_image

#467 Always build test/extension/io//simple if format libraries are available
  test/extension/io/Jamfile
  test/extension/io/paths.hpp
  test/extension/io/simple_all_formats.cpp
Labels: ext/io, test

#472 Replace BOOST_TEST with BOOST_TEST_EQ for streamable operands
  test/CMakeLists.txt
  test/Jamfile
  test/core/algorithm/for_each_pixel.cpp
  test/core/algorithm/std_uninitialized_fill.cpp
  test/core/channel/algorithm_channel_arithmetic.cpp
  test/core/channel/algorithm_channel_convert.cpp
  test/core/channel/algorithm_channel_invert.cpp
  test/core/channel/algorithm_channel_multiply.cpp
  test/core/channel/algorithm_channel_relation.cpp
  test/core/channel/channel_traits.cpp
  test/core/channel/packed_channel_value.cpp
  test/core/channel/scoped_channel_value.cpp
  test/core/channel/test_fixture.cpp
  test/core/channel/test_fixture.hpp
  test/core/color/default_color_converter_impl.cpp
  test/core/color_base/homogeneous_color_base.cpp
  test/core/color_base/static_transform.cpp
  test/core/image/image.cpp
  test/core/image_processing/lanczos_scaling.cpp
  test/core/image_processing/simple_kernels.cpp
  test/core/image_processing/sobel_scharr.cpp
  test/core/image_view/axis_iterator.cpp
  test/core/image_view/collection.cpp
  test/core/image_view/iterator.cpp
  test/core/image_view/planar_rgba_view.cpp
  test/core/image_view/reverse_iterator.cpp
  test/core/image_view/subimage_view.cpp
  test/core/image_view/x_iterator.cpp
  test/core/image_view/xy_locator.cpp
  test/core/image_view/y_iterator.cpp
  test/core/pixel/packed_pixel.cpp
  test/core/pixel/test_fixture.cpp
  test/core/point/point.cpp
  test/core/test_fixture.cpp
  test/extension/dynamic_image/subimage_view.cpp
  test/extension/io/png/png_read_test.cpp
  test/extension/io/subimage_test.hpp
  test/extension/io/targa/targa_read_test.cpp
  test/extension/io/targa/targa_test.cpp
  test/extension/numeric/channel_numeric_operations.cpp
  test/extension/numeric/kernel.cpp
  test/extension/numeric/kernel_fixed.cpp
  test/extension/numeric/matrix3x2.cpp
  test/extension/numeric/pixel_numeric_operations.cpp
  test/extension/numeric/pixel_numeric_operations_float.cpp
  test/extension/numeric/resample.cpp
  test/extension/toolbox/channel_view.cpp
  test/extension/toolbox/color_convert_gray.cpp
  test/extension/toolbox/color_convert_gray_alpha.cpp
  test/extension/toolbox/color_convert_hsl.cpp
  test/extension/toolbox/color_convert_hsv.cpp
  test/extension/toolbox/color_convert_lab.cpp
  test/extension/toolbox/color_convert_luminance.cpp
  test/extension/toolbox/color_convert_xyz.cpp
  test/extension/toolbox/indexed_image.cpp
  test/test_utility.hpp
  test/test_utility_output_stream.cpp
  test/test_utility_output_stream.hpp
Labels: cat/refactoring, test
