Repository boostorg/gil, pull requests merged in 2020-01, with the labels that each got.

#415 Clean up BOOST_TEST_MODULE values for naming of test suites
  test/core/Jamfile
  test/core/channel/Jamfile
  test/core/channel/algorithm_channel_arithmetic.cpp
  test/core/channel/algorithm_channel_convert.cpp
  test/core/channel/algorithm_channel_invert.cpp
  test/core/channel/algorithm_channel_multiply.cpp
  test/core/channel/algorithm_channel_relation.cpp
  test/core/channel/channel_traits.cpp
  test/core/channel/concepts.cpp
  test/core/channel/packed_channel_value.cpp
  test/core/channel/scoped_channel_value.cpp
  test/core/channel/test_fixture.cpp
  test/core/color/Jamfile
  test/core/color_base/Jamfile
  test/core/color_base/homogeneous_color_base.cpp
  test/core/color_base/static_transform.cpp
  test/core/image/Jamfile
  test/core/image/test_fixture.cpp
  test/core/image_processing/Jamfile
  test/core/image_processing/box_filter.cpp
  test/core/image_processing/harris.cpp
  test/core/image_processing/hessian.cpp
  test/core/image_processing/lanczos_scaling.cpp
  test/core/image_processing/median_filter.cpp
  test/core/image_processing/simple_kernels.cpp
  test/core/image_processing/sobel_scharr.cpp
  test/core/image_processing/threshold_binary.cpp
  test/core/image_processing/threshold_otsu.cpp
  test/core/image_processing/threshold_truncate.cpp
  test/core/image_view/Jamfile
  test/core/image_view/subimage_view.cpp
  test/core/iterator/Jamfile
  test/core/locator/Jamfile
  test/core/pixel/Jamfile
  test/core/pixel/packed_pixel.cpp
  test/core/pixel/test_fixture.cpp
  test/core/point/Jamfile
  test/core/promote_integral.cpp
  test/extension/dynamic_image/subimage_view.cpp
  test/extension/io/all_formats_test.cpp
  test/extension/io/bmp_test.cpp
  test/extension/io/jpeg_test.cpp
  test/extension/io/png_test.cpp
  test/extension/io/pnm_test.cpp
  test/extension/io/raw_test.cpp
  test/extension/io/targa_test.cpp
  test/extension/io/tiff_test.cpp
  test/extension/numeric/channel_numeric_operations.cpp
  test/extension/numeric/convolve.cpp
  test/extension/numeric/convolve_2d.cpp
  test/extension/numeric/convolve_cols.cpp
  test/extension/numeric/convolve_rows.cpp
  test/extension/numeric/extend_boundary.cpp
  test/extension/numeric/kernel.cpp
  test/extension/numeric/matrix3x2.cpp
  test/extension/numeric/numeric.cpp
  test/extension/numeric/pixel_numeric_operations.cpp
  test/unit_test.hpp
Labels: cat/refactoring, test

#417 Replace use of boost/core/lightweight_test.hpp with Boost.Test
  test/core/algorithm/Jamfile
  test/core/algorithm/for_each_pixel.cpp
  test/core/algorithm/std_fill.cpp
  test/core/image_view/Jamfile
  test/core/image_view/collection.cpp
  test/core/image_view/planar_rgba_view.cpp
  test/core/image_view/subimage_view.cpp
  test/core/pixel/test_fixture.cpp
  test/core/point/Jamfile
  test/core/point/point.cpp
  test/extension/dynamic_image/subimage_view.cpp
  test/extension/io/png_read_test.cpp
  test/extension/numeric/channel_numeric_operations.cpp
  test/extension/numeric/convolve.cpp
  test/extension/numeric/convolve_cols.cpp
  test/extension/numeric/convolve_rows.cpp
  test/extension/numeric/extend_boundary.cpp
  test/extension/numeric/pixel_numeric_operations.cpp
  test/unit_test.hpp
  test/unit_test_utility.hpp
Labels: cat/refactoring, test

#414 Fix #401: segmentation fault when reading purposely corrupted png image
  include/boost/gil/extension/io/png/detail/read.hpp
  test/extension/io/png_read_test.cpp
Labels: cat/bug, ext/io, status/work-in-progress

#419 Prefix CMake parameters with BOOST_
  .ci/azure-pipelines/steps-cmake-build-and-test.yml
  CMakeLists.txt
  example/CMakeLists.txt
  example/cmake/CMakeSettings.json
  example/cmake/cmake-variants.yaml
  test/CMakeLists.txt
  test/extension/CMakeLists.txt
  test/extension/io/CMakeLists.txt
  test/header/CMakeLists.txt
Labels: cat/annoyance, config/cmake

#418 Add test for pixel types with std::uninitialized_fill
  test/core/Jamfile
  test/core/algorithm/CMakeLists.txt
  test/core/algorithm/Jamfile
  test/core/algorithm/std_uninitialized_fill.cpp
  test/core/channel/test_fixture.hpp
  test/core/image/CMakeLists.txt
  test/core/image/Jamfile
  test/core/image/test_fixture.hpp
  test/core/image_view/collection.cpp
  test/core/pixel/packed_pixel.cpp
  test/core/pixel/test_fixture.hpp
  test/core/test_fixture.cpp
  test/core/test_fixture.hpp
  test/extension/numeric/convolve.cpp
  test/extension/numeric/pixel_numeric_operations.cpp
Labels: core, test

#427 Corrected the namespace in example
  example/sobel_scharr.cpp
Labels: cat/bug

#425 Make b2 headers non-optional to simplify instructions
  CONTRIBUTING.md
Labels: cat/documentation

#426 Test correction
  test/extension/io/png_read_test.cpp
Labels: cat/annoyance, test
