Repository boostorg/gil, pull requests merged in 2021-03, with the labels that each got.

#563 Docs Deployment from Travis CI -> GitHub Actions
  .github/actions/docs-prerequisites/action.yml
  .github/actions/generate-publish-doc/action.yml
  .github/actions/generate-publish-doc/upload-script.sh
  .github/actions/setup-boost/action.yml
  .github/workflows/docs.yaml
Labels: cat/documentation

#565 Rotation of image by any arbitrary Angle
  include/boost/gil/extension/numeric/affine.hpp
  test/extension/numeric/matrix3x2.cpp
Labels: cat/feature, ext/numeric

#526 Fix any_image_view::const_t
  include/boost/gil/extension/dynamic_image/any_image.hpp
  include/boost/gil/extension/dynamic_image/any_image_view.hpp
  test/extension/dynamic_image/CMakeLists.txt
  test/extension/dynamic_image/Jamfile
  test/extension/dynamic_image/any_image_view.cpp
Labels: cat/bug, ext/dynamic_image

#503 Add docs for histogram
  doc/histogram/create.rst
  doc/histogram/cumulative.rst
  doc/histogram/extend.rst
  doc/histogram/extension/index.rst
  doc/histogram/extension/overview.rst
  doc/histogram/extension/std.rst
  doc/histogram/fill.rst
  doc/histogram/index.rst
  doc/histogram/limitations.rst
  doc/histogram/overview.rst
  doc/histogram/stl_compatibility.rst
  doc/histogram/subhistogram.rst
  doc/histogram/utilities.rst
  doc/image_processing/contrast_enhancement/index.rst
  doc/image_processing/contrast_enhancement/overview.rst
  doc/image_processing/index.rst
  doc/index.rst
Labels: cat/documentation, google-summer-of-code

#585 Add rasterizer support for ellipse
  example/Jamfile
  example/rasterizer_ellipse.cpp
  include/boost/gil.hpp
  include/boost/gil/rasterization/ellipse.hpp
  test/core/rasterization/CMakeLists.txt
  test/core/rasterization/Jamfile
  test/core/rasterization/ellipse.cpp
Labels: cat/feature, core
