Repository boostorg/gil, pull requests merged in 2022-06, with the labels that each got.

#673 refactor: Move GSoC 2020 features to extension
  CMakeLists.txt
  example/anisotropic_diffusion.cpp
  example/histogram_equalization.md
  example/hough_transform_line.cpp
  include/boost/gil.hpp
  include/boost/gil/extension/image_processing/diffusion.hpp
  include/boost/gil/extension/image_processing/hough_parameter.hpp
  include/boost/gil/extension/image_processing/hough_transform.hpp
  include/boost/gil/extension/rasterization/circle.hpp
  include/boost/gil/extension/rasterization/ellipse.hpp
  include/boost/gil/extension/rasterization/line.hpp
  test/core/CMakeLists.txt
  test/core/Jamfile
  test/core/image_processing/CMakeLists.txt
  test/core/image_processing/Jamfile
  test/extension/CMakeLists.txt
  test/extension/Jamfile
  test/extension/image_processing/CMakeLists.txt
  test/extension/image_processing/Jamfile
  test/extension/image_processing/anisotropic_diffusion.cpp
  test/extension/image_processing/hough_circle_transform.cpp
  test/extension/image_processing/hough_line_transform.cpp
  test/extension/image_processing/hough_parameter.cpp
  test/extension/rasterization/CMakeLists.txt
  test/extension/rasterization/Jamfile
  test/extension/rasterization/circle.cpp
  test/extension/rasterization/ellipse.cpp
  test/extension/rasterization/line.cpp
Labels: cat/refactoring, ext/rasterization, ext/image_processing

#505 Fix wrong RGB -> HSL convertion
  include/boost/gil/extension/toolbox/color_spaces/hsl.hpp
Labels: cat/bug, ext/toolbox

#691 test: Add tests for RGB to HSL
  test/extension/toolbox/color_convert_hsl.cpp
  test/extension/toolbox/color_convert_rgb.cpp
Labels: test

#684 fix: Detection of std::filesystem header
  include/boost/gil/io/detail/filesystem.hpp
Labels: cat/annoyance

#685 refactor: Replace deprecated libtiff v4.3 typedefs with C99 fixed-size integers
  include/boost/gil/extension/io/tiff/detail/device.hpp
  include/boost/gil/extension/io/tiff/detail/write.hpp
Labels: cat/refactoring

#656 refactor: Deprecate apply_operation in favor of variant2::visit for any_image
  RELEASES.md
  doc/design/dynamic_image.rst
  doc/tutorial/gradient.rst
  include/boost/gil/extension/dynamic_image/algorithm.hpp
  include/boost/gil/extension/dynamic_image/any_image.hpp
  include/boost/gil/extension/dynamic_image/any_image_view.hpp
  include/boost/gil/extension/dynamic_image/apply_operation.hpp
  include/boost/gil/extension/dynamic_image/image_view_factory.hpp
  include/boost/gil/extension/io/bmp/detail/read.hpp
  include/boost/gil/extension/io/bmp/detail/write.hpp
  include/boost/gil/extension/io/jpeg/detail/read.hpp
  include/boost/gil/extension/io/jpeg/detail/write.hpp
  include/boost/gil/extension/io/png/detail/read.hpp
  include/boost/gil/extension/io/png/detail/write.hpp
  include/boost/gil/extension/io/pnm/detail/read.hpp
  include/boost/gil/extension/io/pnm/detail/write.hpp
  include/boost/gil/extension/io/raw/detail/read.hpp
  include/boost/gil/extension/io/targa/detail/read.hpp
  include/boost/gil/extension/io/targa/detail/write.hpp
  include/boost/gil/extension/io/tiff/detail/read.hpp
  include/boost/gil/extension/io/tiff/detail/write.hpp
  include/boost/gil/extension/numeric/resample.hpp
  include/boost/gil/io/detail/dynamic.hpp
  test/Jamfile
  test/extension/dynamic_image/Jamfile
  test/extension/dynamic_image/algorithm/Jamfile
  test/extension/dynamic_image/algorithm/copy_and_convert_pixels.cpp
  test/extension/dynamic_image/algorithm/copy_pixels.cpp
  test/extension/dynamic_image/algorithm/equal_pixels.cpp
  test/extension/dynamic_image/algorithm/fill_pixels.cpp
  test/extension/dynamic_image/algorithm/for_each_pixel.cpp
  test/extension/dynamic_image/any_image.cpp
  test/extension/dynamic_image/any_image_view.cpp
  test/extension/dynamic_image/image_view_factory.cpp
  test/extension/dynamic_image/subimage_view.cpp
Labels: cat/refactoring, ext/dynamic_image

#692 refactor: ellipse rasterizer
  example/rasterizer_circle.cpp
  example/rasterizer_ellipse.cpp
  example/rasterizer_line.cpp
  include/boost/gil/extension/rasterization/ellipse.hpp
  test/extension/rasterization/ellipse.cpp
Labels: cat/refactoring, ext/rasterization

#694 docs!: Announce plan to require C++17 after Boost 1.80
  RELEASES.md
Labels: cat/documentation

#599 Refactor to trailing return types in core
  include/boost/gil/algorithm.hpp
  include/boost/gil/bit_aligned_pixel_iterator.hpp
  include/boost/gil/bit_aligned_pixel_reference.hpp
  include/boost/gil/channel.hpp
  include/boost/gil/channel_algorithm.hpp
  include/boost/gil/cmyk.hpp
  include/boost/gil/color_base.hpp
  include/boost/gil/color_base_algorithm.hpp
  include/boost/gil/color_convert.hpp
  include/boost/gil/concepts/image.hpp
  include/boost/gil/concepts/image_view.hpp
  include/boost/gil/detail/math.hpp
  include/boost/gil/extension/dynamic_image/any_image.hpp
  include/boost/gil/extension/image_processing/hough_parameter.hpp
  include/boost/gil/extension/image_processing/hough_transform.hpp
  include/boost/gil/extension/io/bmp/detail/reader_backend.hpp
  include/boost/gil/extension/io/bmp/tags.hpp
  include/boost/gil/extension/io/jpeg/detail/reader_backend.hpp
  include/boost/gil/extension/io/jpeg/tags.hpp
  include/boost/gil/extension/io/png/detail/reader_backend.hpp
  include/boost/gil/extension/io/png/tags.hpp
  include/boost/gil/extension/io/pnm/detail/reader_backend.hpp
  include/boost/gil/extension/io/pnm/tags.hpp
  include/boost/gil/extension/io/raw/detail/reader_backend.hpp
  include/boost/gil/extension/io/raw/tags.hpp
  include/boost/gil/extension/io/targa/detail/reader_backend.hpp
  include/boost/gil/extension/io/targa/tags.hpp
  include/boost/gil/extension/io/tiff/detail/reader_backend.hpp
  include/boost/gil/extension/io/tiff/tags.hpp
  include/boost/gil/extension/toolbox/image_types/indexed_image.hpp
  include/boost/gil/extension/toolbox/image_types/subchroma_image.hpp
  include/boost/gil/histogram.hpp
  include/boost/gil/image.hpp
  include/boost/gil/image_processing/adaptive_histogram_equalization.hpp
  include/boost/gil/image_processing/filter.hpp
  include/boost/gil/image_processing/histogram_equalization.hpp
  include/boost/gil/image_processing/histogram_matching.hpp
  include/boost/gil/image_processing/morphology.hpp
  include/boost/gil/image_processing/numeric.hpp
  include/boost/gil/image_view_factory.hpp
  include/boost/gil/io/base.hpp
  include/boost/gil/io/device.hpp
  include/boost/gil/io/make_dynamic_image_writer.hpp
  include/boost/gil/io/make_reader.hpp
  include/boost/gil/io/make_scanline_reader.hpp
  include/boost/gil/io/make_writer.hpp
  include/boost/gil/io/path_spec.hpp
  include/boost/gil/io/reader_base.hpp
  include/boost/gil/locator.hpp
  include/boost/gil/pixel_iterator_adaptor.hpp
  include/boost/gil/planar_pixel_iterator.hpp
  include/boost/gil/point.hpp
  include/boost/gil/position_iterator.hpp
  include/boost/gil/premultiply.hpp
  include/boost/gil/rgb.hpp
  include/boost/gil/rgba.hpp
  include/boost/gil/step_iterator.hpp
  include/boost/gil/utilities.hpp
Labels: cat/refactoring, core, core/io, ext/image_processing

#698 ci: Remove C++11 build jobs after C++14 switch
  .appveyor.yml
  .ci/azure-pipelines/steps-cmake-build-and-test.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  test/Jamfile
Labels: config/boost-build

#699 build: Update CMAKE_CXX_STANDARD from 11 to 14
  CMakeLists.txt
  test/extension/toolbox/CMakeLists.txt
Labels: config/cmake

#700 docs: Bump C++11 to C++14 as current required
  CONTRIBUTING.md
  README.md
  doc/index.rst
  doc/installation.rst
  example/adaptive_histogram_equalization.md
  example/adaptive_threshold.md
  example/affine.md
  example/anisotropic_diffusion.md
  example/convolution.md
  example/convolve2d.md
  example/dynamic_image.md
  example/harris.md
  example/hessian.md
  example/histogram.md
  example/histogram_equalization.md
  example/histogram_matching.md
  example/hough_transform_circle.md
  example/hough_transform_line.md
  example/interleaved_ptr.md
  example/mandelbrot.md
  example/morphology.md
  example/packed_pixel.md
  example/rasterizer_circle.md
  example/rasterizer_ellipse.md
  example/rasterizer_line.md
  example/resize.md
  example/sobel_scharr.md
  example/threshold.md
  example/tutorial_histogram.md
  example/x_gradient.md
Labels: cat/documentation

#702 test: Add test cases for image with empty dimensions
  test/core/image/CMakeLists.txt
  test/core/image/Jamfile
  test/core/image/empty_dimensions.cpp
Labels: test

#529 Add pmr image typedefs
  include/boost/gil/image.hpp
  include/boost/gil/typedefs.hpp
  test/core/image/image.cpp
  test/core/image/test_fixture.hpp
Labels: cat/annoyance
