Repository boostorg/gil, pull requests merged in 2022-02, with the labels that each got.

#635 Fix warning: unused variable in diffusion.hpp
  include/boost/gil/image_processing/diffusion.hpp
Labels: cat/annoyance

#577 Fix convolve_2d for images with float32_t channel model
  include/boost/gil/extension/numeric/convolve.hpp
  test/extension/numeric/convolve_2d.cpp
Labels: cat/bug, ext/numeric

#636 Add support for <filesystem> to IO
  doc/io.rst
  include/boost/gil/io/detail/filesystem.hpp
  include/boost/gil/io/make_backend.hpp
  include/boost/gil/io/make_dynamic_image_reader.hpp
  include/boost/gil/io/make_dynamic_image_writer.hpp
  include/boost/gil/io/make_reader.hpp
  include/boost/gil/io/make_scanline_reader.hpp
  include/boost/gil/io/make_writer.hpp
  include/boost/gil/io/path_spec.hpp
  test/extension/io/bmp/bmp_make.cpp
  test/extension/io/bmp/bmp_test.cpp
  test/extension/io/jpeg/jpeg_test.cpp
  test/extension/io/paths.hpp
  test/extension/io/png/png_file_format_test.cpp
  test/extension/io/png/png_read_test.cpp
  test/extension/io/png/png_write_test.cpp
  test/extension/io/raw/raw_test.cpp
  test/extension/io/simple_all_formats.cpp
  test/extension/io/targa/targa_test.cpp
  test/extension/io/tiff/tiff_test.cpp
Labels: ext/io, core/io
