Repository boostorg/gil, pull requests merged in 2023-02, with the labels that each got.

#723 fix: Convolution in convolve_2d.
  include/boost/gil/detail/math.hpp
  include/boost/gil/image_processing/convolve.hpp
  test/core/image_processing/convolve_2d.cpp
Labels: ext/image_processing

#725 fix: Normalize Gaussian 2D kernel.
  include/boost/gil/image_processing/numeric.hpp
  test/core/image_processing/simple_kernels.cpp
Labels: cat/bug

#726 Fixed custom color converter in dynamic_factory and added corresponding
  include/boost/gil/extension/dynamic_image/image_view_factory.hpp
  test/extension/dynamic_image/image_view_factory.cpp
Labels: cat/annoyance

#729 Make locator.hpp self contained
  include/boost/gil/locator.hpp
Labels: cat/refactoring
